.card > div {
  position: relative;
  perspective: 500px;
}
.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card img {
  transition: all ease 1s;
  backface-visibility: hidden;
}
/* front of card - the picture */

.card .front {
  transform: rotateY(-180deg);
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
}

/* back of card - cover */
.card .back {
  transform: rotateY(0deg);
}
.flipped .back {
  transform: rotateY(180deg);
}
